---
http_interactions:
- request:
    method: get
    uri: http://ipinfo.io/71.196.130.162/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "71.196.130.162",
          "hostname": "c-71-196-130-162.hsd1.co.comcast.net",
          "city": "Lakewood",
          "region": "Colorado",
          "country": "US",
          "loc": "39.7047,-105.0814",
          "org": "AS7922 Comcast Cable Communications, LLC",
          "postal": "80226",
          "timezone": "America/Denver",
          "readme": "https://ipinfo.io/missingauth"
        }
  recorded_at: Sun, 07 Nov 2021 20:52:07 GMT
recorded_with: VCR 6.0.0
