---
http_interactions:
- request:
    method: get
    uri: http://ipinfo.io/69.132.37.48/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "69.132.37.48",
          "hostname": "cpe-69-132-37-48.carolina.res.rr.com",
          "city": "Charlotte",
          "region": "North Carolina",
          "country": "US",
          "loc": "35.1677,-80.7932",
          "org": "AS11426 Charter Communications Inc",
          "postal": "28211",
          "timezone": "America/New_York",
          "readme": "https://ipinfo.io/missingauth"
        }
  recorded_at: Mon, 08 Nov 2021 21:17:33 GMT
recorded_with: VCR 6.0.0
