---
http_interactions:
- request:
    method: get
    uri: https://api.walkscore.com/score?address=1119%258th%20Avenue%20Seattle%20WA%209810&format=json&lat=47.6085&lon=-122.3295&wsapikey=<api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - f07be141a7a4d8604f163329fe693b05
    body:
      encoding: UTF-8
      string: "{\n\"status\": 1  \n, \"walkscore\": 99\n, \"description\": \"Walker's
        Paradise\"\n, \"updated\": \"2021-05-19 20:53:56.207685\" \n, \"logo_url\":
        \"https://cdn.walk.sc/images/api-logo.png\"\n, \"more_info_icon\": \"https://cdn.walk.sc/images/api-more-info.gif\"\n,
        \"more_info_link\": \"https://www.redfin.com/how-walk-score-works\"\n, \"ws_link\":
        \"https://www.walkscore.com/score/1119-8th-Avenue-Seattle-WA-9810/lat=47.6085/lng=-122.3295/?utm_source=idaolson.com&utm_medium=ws_api&utm_campaign=ws_api\"\n,
        \"help_link\": \"https://www.redfin.com/how-walk-score-works\"\n, \"snapped_lat\":
        47.6085\n, \"snapped_lon\": -122.3295 \n\n\n\n\n\n}"
  recorded_at: Sat, 06 Nov 2021 17:14:26 GMT
recorded_with: VCR 6.0.0
