---
http_interactions:
- request:
    method: get
    uri: http://ipinfo.io/73.153.17.177/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "73.153.17.177",
          "hostname": "c-73-153-17-177.hsd1.co.comcast.net",
          "city": "Aurora",
          "region": "Colorado",
          "country": "US",
          "loc": "39.7294,-104.8319",
          "org": "AS7922 Comcast Cable Communications, LLC",
          "postal": "80040",
          "timezone": "America/Denver",
          "readme": "https://ipinfo.io/missingauth"
        }
  recorded_at: Thu, 11 Nov 2021 02:43:24 GMT
recorded_with: VCR 6.0.0
